---
import { CaptionReviewerMainView } from "../CaptionReviewerMainView";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Captions reviewer">
  <div class="container">
    <h1 class="mt-3">Captions reviewer</h1>
    <CaptionReviewerMainView client:only="react" />
  </div>
</Layout>
